.rightSpaceContainer{
    width: 17vw;
    padding-top: 4px;
    border: 1px solid black;
}

.rightSpaceContainer img{
    width: 35px;
    height: 30px;
    margin-right: 7px;
    border-radius: 5px;
}

.rightDAta{
    display: flex;
    padding: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}